<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator</title>
    <link href="~/Content/admin/main.css" rel="stylesheet" />
    <script src="~/Content/admin/main.js"></script>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <script src="~/Content/js/all.js"></script>

    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>

</head>
<body>
    <div class="header">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>Brand</span>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <i class="far fa-clock"></i>
            <a href="/">Baby Shop</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Admin")">
                        <span><i class="fab fa-algolia"></i></span>
                        <span>Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TaiKhoan","Admin")">
                        <span><i class="fa fa-user"></i></span>
                        <span>Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DonHang","Admin")">
                        <span><i class="fas fa-book"></i></span>
                        <span>Đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ThongKe","Admin")">
                        <span><i class="fab fa-airbnb"></i></span>
                        <span>Thống kê</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        @*<div class="title">
                Quản Lý Website
            </div>*@

        <div class="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>